:global {
  .settings {
    padding: 16px;
    text-align: center;
    font-size: 14px;

    .coordinates-container {
      input {
        width: 80px;
      }
    }

    label {
      input {
        display: block;
      }
    }

    .analysis-progress {
      .analysis-progress-item {
        white-space: nowrap;
      }
    }
  }
}
